Count : {{ count$ | async}} 
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<button (click)="reset()">x</button>
<div class="box-container">
  <div class="box">
  <span class="box-header">{{widget1.data}}</span>
    <app-text-field></app-text-field>
</div>
<div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<p style="clear:both"></p>
</div>
<div class="box-container">
  <div class="box">
  <span class="box-header">{{widget2.name}}</span>
    <app-text-field></app-text-field>
</div>
<div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<p style="clear:both"></p>
</div>
