Count : {{ count$ | async}} 
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<button (click)="reset()">x</button>
<button (click)="printCards(cardElement)">Print Cards</button>
<div class="box-container" #cardElement style="min-width:1754px;max-width:1754px;">
  <div>
  <div class="box" *ngFor="let card of cards" style=" border:1px solid #efefef;
  padding:20px;
  margin:10px;   
  position: relative; 
  max-width:calc((3.78 * 96px)/1.4);
  min-width:calc((3.78 * 96px)/1.4);;
  min-height:calc((2.125 * 96px)/1.4);
  max-height:calc((2.125 * 96px)/1.4);
  float: left;
  overflow:hidden;">
  <div class="title" >
    {{card.baseForm}}
  </div>
  <!-- <div class="sub-title">
    {{card.meaning?.results?.0.?.lexicalEntries?.0?.entries?.0?.pronunciations?.0?.phoneticSpelling}}
  </div> -->
  <div>
    {{(card.context.length > 200)?(card.context | slice:0:200)+'...' : card.context }}
  </div>
</div>
<p style="clear:both"></p>
</div>
