:host{
    display: block;
    margin:10px;
    background:white;
    padding:20px;
    box-sizing: border-box;
    overflow: auto;
    .box-container{
        position: relative;
        max-width:100%;
        box-sizing: border-box;
        .box{
            border:1px solid #efefef;
            padding:20px;
            margin:10px;   
            position: relative; 
            max-width:calc((3.78 * 96px)/1.4);
            min-width:calc((3.78 * 96px)/1.4);;
            min-height:calc((2.125 * 96px)/1.4);
            max-height:calc((2.125 * 96px)/1.4);
            float: left;
            overflow:hidden;
            .box-header{
                position: absolute;
                top: 5px;
                left: 10px;
                color:black;
                font-weight: bold;
            }

        }
    }
}
.title{
    font-size:24px;
    padding:10px 0px;
}
.sub-title{
    font-size: 12px;
    color:grey;
    &::before{
        content:"/"
    }
    &::after{
        content:"/"
    }
}
