Count : {{ count$ | async}} 
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<button (click)="reset()">x</button>
<button (click)="printCards(cardElement)">Print Cards</button>
<div class="box-container" #cardElement>
  <div class="box" *ngFor="let card of cards">
  <div class="title" >
    {{card.baseForm}}
  </div>
  <!-- <div class="sub-title">
    {{card.meaning?.results?.0.?.lexicalEntries?.0?.entries?.0?.pronunciations?.0?.phoneticSpelling}}
  </div> -->
  <div>
    {{(card.context.length > 200)?(card.context | slice:0:200)+'...' : card.context }}
  </div>
</div>
<p style="clear:both"></p>
</div>
