<div class="box-container">
  <div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<p style="clear:both"></p>
</div>
<div class="box-container">
  <div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<div class="box">
  <span class="box-header">Input</span>
    <app-text-field></app-text-field>
</div>
<p style="clear:both"></p>
</div>
